{% for activity in activities %}
    {{ include('home/activity-card.html.twig') }}
{% endfor %}
<div class="row justify-content-center button-activity-home">
    <div class="col-md-3"><a href="{{ path('activity_index') }}" type="button" class="btn btn-primary">Voir tous les évènements</a></div>
    <div class="col-md-3"><a href="{{ path('activity_new') }}" type="button" class="btn btn-primary">Proposer un évènement</a></div>
</div>
