{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {# Header #}
    <div class="row row-presentation">
        <div class="col-md-6 col-sm-6 text-title align-self-center">
            {# texte #}
            <h3>
                Trouve les personnes avec qui<br> faire du sport
            </h3>
            <br>
            <div>
                Si vous cherchez des personnes avec qui pratiquer du sport, vous êtes au bon endroit ! <br>
                A vous de trouver VOTRE partenaire !
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-10">
                    <a href="{{ app.user ? path('activity_index') : path('app_register')}}"><button class="btn btn-primary">Voir les évènements</button></a>
                </div>
                <div class="col-md-6 col-sm-10">
                    <a href="{{ app.user ? path('activity_new') : path('app_register')}}"><button class="btn btn-primary">Proposer un évènement</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 image-title align-self-end"> {# hidden pour mobile #}
            <img src="{{ asset('images/mountains.svg') }}" alt="">
        </div>
    </div>
    <div class="row contain-banner-text">
        <div class="col-md-12 banner-text">
            <i class="fa-solid fa-quote-left"></i>
            Plus vite, plus haut, plus fort ensemble
            <i class="fa-solid fa-quote-right"></i>
        </div>
    </div>

    {# section evenements du moment #}
    <div class="row justify-content-evenly events-block">
        {{ include('home/events-block.html.twig') }}
    </div>

    {# Footer #}
{% endblock %}
