{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="bg img-fluid">
        {% if error %}
            <div class="alert alert-danger font-weight-bold">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 text-center">
                Vous êtes connecté en tant que <span
                        class="text-warning text-capitalize font-weight-bold ">{{ app.user.prenom }}</span>, <a
                        href="{{ path('app_logout') }}">se déconnecter ?</a>
            </div>
        {% endif %}

        <div class="row justify-content-center login-page">
            <div class="col-md-6 col-12 login">
                <form method="post">

                    <div class="card border-info mb-3 text-center" style="max-width: 30rem;">
                        <div class="card-header">
                            <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
                        </div>
                        <div class="card-body text-info">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" placeholder="Email" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <br>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="Password" required>
                            <br>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">

                            <button class="btn btn-lg btn-primary" type="submit">
                                Log in !
                            </button>
                            <br> <br>
                            <span>
                    Pas encore de compte ?
                    En créer un <a href="#">ici !</a>
                </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
