{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row justify-content-center align-items-center login-page">
        <div class="col-lg-6 col-12 login pad-top">
            {{ form_start(registrationForm) }}
            <h1>Inscription</h1>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.nom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.prenom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row repeat-email">
                        {% for emailField in registrationForm.email %}
                            <div class="col-md-6">
                                {{ form_row(emailField) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <div class="row align-items-center">
                <div class="col-md-6">{{ form_row(registrationForm.genre, {'label': 'Vous êtes :'}) }}</div>
                <div class="col-md-6">{{ form_row(registrationForm.date_naissance, {'label': false}) }}</div>
            </div> <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row repeat-password">
                        {% for passwordField in registrationForm.password %}
                            <div class="col-md-6">
                                {{ form_row(passwordField) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="row ">
                <div class="col-md-6">
                    {{ form_row(registrationForm.avatarFile , {'label': "Ajoutez votre avatar"}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.commune , {'label': "Renseignez votre commune"}) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 align-self-center">
                    <button type="submit" class="btn btn-primary">Créer mon compte</button>
                    <a href="{{ path('app_login') }}" class="btn btn-primary btn-connexion" type="button">J'ai déjà un compte</a>
                </div>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
