<div class="col-sm-10 col-10 activity-card rounded offset-1">
    <div class="row activity-card-row rounded align-items-center activity-card-profil">
        <div class="col-md-5 col-sm-5 col-img-card">
            {% if activity.image is not null and activity.sport is defined and activity.sport.id != 0 %}
            <a href="{{ path('activity_show', {'id': activity.id}) }}">
            <img  src="{{vich_uploader_asset(activity,"imageFile")}}" class="img-fluid rounded-start activity-card-img" alt="...">
            </a>
            {% else %}
                <img src="{{ asset('images/sports/'~activity.sport.imagesLink~'/'~activity.sport.imagesLink~'-'~(random(2)+1)~'.jpg') }}" class="img-fluid activity-card-img rounded-start" alt="">
            {% endif %}
        </div>
        <div class="col-md-7 col-sm-7">
            <div class="card-body text-start">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-sm-6 card-title-lieu">
                        <h5 class="card-title">{{ activity.title }}</h5>
                        <h6 class="card-subtitle"><i class="fa-solid fa-location-dot"></i> {{ activity.lieu }}</h6><br>
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 offset-1 card-title-badge justify-content-center align-items-center">
                        <a href="#" class="btn btn-success btn-sport btn-sm m-3" role="button" aria-disabled="true">{{ activity.sport.title }}</a>
                        <a href="#" class="btn btn-success btn-sport btn-level btn-sm m-3" role="button" aria-disabled="true">{{ activity.level }}</a>
                    </div>
                </div>

                <p class="card-text">{{ activity.details|length > 40 ? activity.details|slice(0, 40) ~ '...' : activity.details }}
                    {% if activity.details|length < 50 %}
                        <br>
                    {% endif %}
                </p>
                <p class="card-text"><i class="fa-solid fa-calendar-days"></i> Le {{activity.date|date('d m Y')}} à {{activity.date|date('H:i')}}</p>
                {% set parts = activity.users | length %}
                <p class="card-text"><i class="fa-solid fa-user-group"></i> {{parts}} {% if parts > 1 %} participants {% else %} participant {% endif %}</p>

                {% if (activity.leader is not null) and (activity.leader is defined) and (activity.leader.nom is not null) and (activity.leader.prenom is not null)  %}
                    <div class="row leader-row">
                        <div class="col">
                            <p class="leader-name">Proposé par : <a href="{{ path('app_profil', {'id': activity.leader.id}) }}">{{ activity.leader.prenom }} {{ activity.leader.nom }}</a></p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
