{% extends 'base.html.twig' %}
{% form_theme editForm 'bootstrap_4_layout.html.twig' %}


{% block body %}
<div class="row justify-content-center profil-page">
    <div class="col-md-8 col-xs-10 ">

    {{ form_start(editForm) }}
        <div class="row">
            <div class="col-md-6">
                <h5>Modifier mon prénom </h5>
                {{ form_widget(editForm.prenom) }}
            </div>
            <div class="col-md-6">
                <h5>Modifier mon nom </h5>
                {{ form_widget(editForm.nom) }}
            </div>
        </div>
    <br><br>
        <div class="row">
            <div class="col-md-12">
                <h5>Modifier ma description </h5>
                {{ form_widget(editForm.description) }}
            </div>
        </div>

    <br><br>

    <h5>Mon avatar</h5> <br>
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid img-thumbnail" width="250px"  alt="" src="{{vich_uploader_asset(user,"avatarFile")}}">
            </div>
            <div class="col-md-6 align-self-center">
                <h6>Modifier mon avatar</h6> <br>{{ form_widget(editForm.avatarFile) }}
            </div>
        </div>
    <br><br>
    <br>
        <div class="row">
            <div class="col-md-6">
                <h5 class="favorite-sport" id="favorite-sport">Mes sports favoris </h5>
                {{ form_widget(editForm.favorite_sport) }}
            </div>
            <div class="col-md-4">
                <h5 class="favorite-sport" id="favorite-sport">Mes infos complémentaires </h5>
                {{ form_row(editForm.commune, {'label': "Ma commune"}) }} <br>
                {{ form_row(editForm.genre, {'label': "Je suis"}) }} <br>
                {{ form_row(editForm.date_naissance, {'label': "Ma date de naissance"}) }} <br>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
            <div class="col-md-6">
                 {{ include('profil/delete.html.twig') }}
            </div>
        </div>
        {{ form_row(editForm._token) }}
        {{ form_rest(editForm) }}
    {{ form_end(editForm) }}
    </div>
</div>
{% endblock %}
