{% extends 'base.html.twig' %}

{% block title %}{{ user.prenom ~ " " ~ user.nom }}{% endblock %}

{% block body %}

<div class="row justify-content-center profil-page">
    <div class="col-md-8 col-xs-10 col-11 div-blur login">
        <div class="row justify-content-center">
            <div class="col-4 align-self-center profil-img mt-3">
                    <h3> {{ user.prenom ~ " " ~ user.nom }}</h3>

                <img class="img-fluid img-thumbnail rounded-circle img-avatar" alt=""
                     src="{{ vich_uploader_asset(user,"avatarFile") }}">
            </div>
            {% if ((app.user.id) == (user.id)) %}
                <div class="col-md-2 align-self-start">
                    <a href="{{ path('app_logout') }}" class="link-logout">Se déconnecter</a>
                </div>
            {% endif %}

        </div>
        {% if app.user.id != user.id %}
            <div class="row">
                <div class="col profil-desc mt-5">
                    {% if((user.genre is not null) and (user.commune is not null) and (user.dateNaissance is not null)) %}
                        <strong>{{ user.genre }} - {{ user.commune }} - {{ user.getAge() }} ans</strong><br>
                    {% endif %}
                    {{ user.description }}
                </div>
            </div>
        {% endif %}
        {% if ((app.user.id) == (user.id)) %}
            <div class="row profil-infos mt-3">
                <div class="col-md-8">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2>Informations </h2>
                        </div>
                        <div class="col">
                            <a href="{{ path('app_profil_edit', {'id': user.id}) }}" role="button"
                               class="btn btn-sm btn-primary">Modifier</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <strong>Prénom : </strong>{{ user.prenom }}<br>
                            <strong>Nom : </strong> {{ user.nom }} <br>
                            <strong>Mail : </strong>{{ user.email }} <br>
                            <strong>Ma commune : </strong>{{ user.commune }} <br>
                            {% if app.user.id == user.id %}
                                <br>
                                <strong>Description : </strong>
                                {% if user.description | length > 0 %}
                                    {{ user.description }} <br>
                                {% else %}
                                    Aucune description renseignée ...
                                    <a href="{{ path('app_profil_edit', {'id': user.id}) }}" type="button"
                                       class="btn btn-activity">en ajouter une ici ?</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <br>

        <div class="row profil-infos">
            <div class="col-md-8">
                <div class="row align-items-center">
                    <div class="col">
                        <h2>Activités favorites</h2>
                    </div>
                    <div class="col">
                        {% if ((app.user.id) == (user.id)) %}
                            <a href="{{ path('app_profil_edit', {'id': user.id, '_fragment': 'favorite-sport'}) }}"
                               role="button" class="btn btn-sm btn-primary">Modifier</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for sport in user.favoriteSport %}
                            <button class="btn btn-activity btn-sm">{{ sport }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <h2 class="mt-5"> {% if ((app.user.id) == (user.id)) %}Mes {% else %}Ses {% endif %}évènements</h2>
        {#
        {% if activities | length > 0 %}
            {% for activity in activities %}
                <a href="{{ path('activity_show', {'id': activity.id}) }}" type="button" class="btn btn-activity">{{ activity.title }}</a>
            {% endfor %}
        {% else %}
            Aucune activité proposée pour le moment ...
            {% if ((app.user.id) == (user.id)) %}
                <a href="{{ path('activity_new') }}" type="button" class="btn btn-activity">En proposer une ?</a>
            {% endif %}
        {% endif %}
        {% for activityPart in activitiesParticipation %}
            <a href="{{ path('activity_show', {'id': activityPart.id}) }}" type="button" class="btn btn-activity">{{ activityPart.title }}</a>
        {% endfor %} #}

        {#{% if ((activities | length > 0) or (activitiesParticipation | length > 0) ) %}
        <div id="carousel-profil-activities" class="carousel slide events-row" data-ride="carousel">
            <div class="carousel-inner">
                {% for activity in activities %}
                    {% if loop.first %}
                        <div class="carousel-item active row justify-content-evenly events-block events-profil">
                    {% else %}
                        <div class="carousel-item row justify-content-evenly events-block events-profil">
                    {% endif %}
                          {{ include('profil/activity-card-profil.html.twig', {'id': activity.id}) }}
                        #}{#<a href="{{ path('activity_show', {'id': activity.id}) }}" type="button"
                           class="btn btn-activity">{{ activity.title }}</a>#}{#
                    </div>
                    {% endfor %}
                    #}{#  {% else %}

                        Aucune activité pour le moment ...
                        {% if ((app.user.id) == (user.id)) %}
                            <a href="{{ path('activity_new') }}" type="button" class="btn btn-activity">En proposer une ?</a>
                        {% endif %}
                    </div>
                    {% endif %} #}{#
                    {% for activity in activitiesParticipation %}
                    {% if loop.first and (activities | length == 0) %}
                        <div class="carousel-item active">
                            {% dump('probleme') %}
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            {{ include('profil/activity-card-profil.html.twig', {'id': activity.id}) }}
                        </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                </div>#}

                {% if ((activities | length > 0) or (activitiesParticipation | length > 0) ) %}
                <div class="row justify-content-evenly events-block events-profil">
                    {% if (activities | length > 0) %}
                    {% for activity in activities %}
                        {{ include('profil/activity-card-profil.html.twig', {'id': activity.id}) }}
                    {% endfor %}
                    {% endif %}
                    {% if (activitiesParticipation | length > 0) %}
                        {% for activity in activitiesParticipation %}
                            {{ include('profil/activity-card-profil.html.twig', {'id': activity.id}) }}
                        {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>


        {% block javascripts %}
            <script type="text/javascript">
                var card = document.querySelectorAll('.carousel-inner .activity-card');
                console.log(card);
                card.forEach((e => {
                    e.classList.remove("col-md-5");
                    e.classList.add("col-md-10");
                }))
            </script>
        {% endblock %}
        {% endblock %}

