{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="row justify-content-center login-page">
    <div class="col-md-8 col-12 form-col login pad-top">
        {{ form_start(form) }}
        <div class="row justify-content-center align-items-center">
            <div class="col-md-2 col-2 return-button">
                <a href="{{ path('activity_index') }}"><i class="fa-solid fa-circle-chevron-left"></i></a>
            </div>
            <div class="col-md-10 col-10">
                {% if(app.request.get('_route') == 'activity_edit') %}
                    <h1>Modifier mon évènement</h1>
                {% else %}
                <h1>Je crée mon évènement</h1>
                {% endif %}
            </div>
        </div>
        {{ form_row(form.title, {'label':false}) }} <br>
        {{ form_row(form.details, {'label':false}) }} <br>
        <div class="row g-2">
            <div class="col-sm-7">
                {{ form_row(form.lieu, {'label':false}) }} <br>
            </div>
            <div class="col-sm">
                {{ form_row(form.sport, {'label':false}) }} <br>
            </div>
        </div>

        <div class="row g-2 justify-content-center">
            <div class="col-sm-7">
                <div class="row number-part align-items-center">
                    {{ form_label(form.nb_user_min, 'Nombre de participant(s)') }}
                    {#  {{ form_row(form.nb_user_min, {'label': false, 'class': 'form-range', 'type': 'range', 'id':'customRange1', min:"0", max:"15", step:'1'}) }} <br>
                {{ form_row(form.nb_user_max, {'label': false, 'class': 'form-range', 'type': 'range', 'id':'customRange1', min:"0", max:"15", step:'1'}) }} #}
                    <div class="white-text col-md-1 col-2">entre</div>
                    {{ form_row(form.nb_user_min, {'label': false, 'attr': {'class' : 'user-nb-min'}}) }}
                    <div class="white-text col-md-1 col-2">et</div>
                    {{ form_row(form.nb_user_max, {'label': false, 'attr': {'class' : 'user-nb-min'}})}} <br>
                </div>
            </div>
            <div class="col-sm">
                {{ form_label(form.level, 'Niveau sportif') }}
                {{ form_row(form.level, {'label':false}) }} <br>
            </div>
        </div>
        <div class="row g-2 justify-content-center">
            <div class="col-sm-7">
        {{ form_row(form.imageFile, {'label':"importer une image d'illustration", 'type':'file', 'class':'form-control', 'id':'formFile'}) }} <br>
            </div>
            <div class="col-sm-4">
        {{ form_row(form.date, {'label':false}) }} <br>
            </div>
        </div>

<div class="row">
    <div class="col">
        <button class="btn btn-primary">{{ button_label|default("Créer l'évènement") }}</button>
    </div>

        {% if(app.request.get('_route') == 'activity_edit') %}
    <div class="col">
            {{ include('activity/_delete_form.html.twig') }}
        {% endif %}
    </div>
        {{ form_end(form) }}

</div>


    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        var numberform = document.querySelectorAll('.number-part .form-group');
        numberform.forEach((e => {
                e.classList.add("col-md-3","offset-1","col-3","ms-2");
        }))
    </script>
{% endblock %}