{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="row filter-row justify-content-center align-items-center">
    {{ form_start(form) }}
    <div class="row justify-content-around align-items-center">
        <div class="col-md-3 col-10 m-3">
            {{ form_row(form.sport, {'label': false}) }}
        </div>
        <div class="col-md-3 col-10 m-3">
            {{ form_row(form.level, {'label': false}) }}
        </div>
        <div class="col-md-3 col-10 m-3 text-center">
            <button type="submit" class="btn btn-primary"> Rechercher </button>
        </div>
    </div>
   {#  {{ form_row(form.date, {'label': false}) }}#}
    {{ form_end(form) }}
</div>