{% extends 'base.html.twig' %}

{% block title %}Les évènements{% endblock %}

{% block body %}
    <div class="row justify-content-evenly events-block filter-page">
        <h1 class="pad-left">Les évènements du moment</h1>
        {{ include('activity/filter.html.twig') }}
        {% if activities|length == 0 %}
            <div class="row justify-content-center">
                <div class="col-md-10">
                    Aucun résultat pour votre recherche ...
                </div>
            </div>
        {% else %}
            {% for activity in activities %}
                {{ include('home/activity-card.html.twig') }}
            {% endfor %}
        {% endif %}
                <div class="row justify-content-center">
                    <div class="col-md-3 text-center m-3 propose-event">
                        <a href="{{ path('activity_new') }}" type="button" class="btn btn-primary btn-join">Proposer un évènement</a>
                    </div>
                </div>
            </div>

{% endblock %}
