{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="row justify-content-center participant-row">
    <div class="col-md-8 one-message rounded">
        <h4>
            {% if (activity.users| length == 0) %}
                L'organisateur
            {% else %}
                Les {{ activity.users|length +1 }} participants
            {% endif %}
        </h4>
        <div class="row align-items-center row-participants">
            <div class="col-md-1 avatar-part">
                <a href="{{ path('app_profil', {'id': activity.leader.id}) }}" class="participant-leader">
                    <img class="img-fluid img-thumbnail rounded-circle " width="50px" alt=""
                         src="{{ vich_uploader_asset(activity.leader,"avatarFile") }}">
                    {{ activity.leader.prenom }}
                </a>
            </div>
            {% for participant in activity.users %}
                <div class="col-md-1 avatar-part">
                    <a href="{{ path('app_profil', {'id': participant.id}) }}" class="participant-user">
                        <img class="img-fluid img-thumbnail rounded-circle " width="50px" alt=""
                             src="{{ vich_uploader_asset(participant,"avatarFile") }}">
                        {{ participant.prenom }}
                    </a>
                </div>
            {% endfor %}

            {% if (app.user == activity.leader) %}
            {% for request in activity.requestParticipation %}
                <div class="col-md-1">
                    <div class="row">
                    <a href="{{ path('app_profil', {'id': request.id}) }}" class="participant-user">
                        <img class="img-fluid img-thumbnail rounded-circle " width="50px" alt=""
                             src="{{ vich_uploader_asset(request,"avatarFile") }}">
                        {{ request.prenom }}
                    </a>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a href="{{ path('user_accept', {'id': activity.id, 'user': request.id}) }}" class="btn btn-outline-success btn-sm accept"><i class="fa-solid fa-check"></i></a>
                    </div>
                    <div class="col-6">
                        <a href="{{ path('user_reject', {'id': activity.id, 'user': request.id}) }}" class="btn btn-outline-danger btn-sm refus"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
                </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10 col-11">
        <h1>Les dernières actualités de l'évènement</h1>
    </div>
</div>
<div class="row justify-content-center write-messages">
    <div class="col-md-10 col-10 one-message rounded">
        <div class="row row-participants">
            <div class="col-md-1 avatar-part">
                <img class="img-fluid img-thumbnail rounded-circle " width="50px" alt=""
                     src="{{ vich_uploader_asset(app.user,"avatarFile") }}">
            </div>
            <div class="col-md-9 col-6">
                <h5 class="name-membre">{{ app.user.prenom }}</h5>
                {% if (app.user == activity.leader) %}
                    <p class="title-membre">Organiateur</p>
                {% else %}
                    <p class="title-membre">Participant</p>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 rounded">
                {{ form_start(form) }}
                {{ form_row(form.content, {'label':false, 'value': '', 'class':'form-floating'}) }}
                <button class="btn btn-primary no-refresh" type="submit"> publier</button>
                {{ form_row (form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>

{% for message in messages %}
<div class="row justify-content-center write-messages">
    {% if loop.first %}
    <div class="col-md-10 col-10 one-message rounded pad-top-message">
        {% elseif loop.last %}
        <div class="col-md-10 col-10 one-message rounded pad-bottom-message">
            {% elseif loop.length == 1 %}
            <div class="col-md-10 col-10 one-message rounded pad-top-message pad-bottom-message">
                {% else %}
                <div class="col-md-10 col-10 one-message rounded">
                    {% endif %}
                    <div class="row">
                        <div class="col-md-1 col-3">
                            <img class="img-fluid img-thumbnail rounded-circle " width="50px" alt=""
                                 src="{{ vich_uploader_asset(message.author,"avatarFile") }}">
                        </div>
                        <div class="col-md-9 col-5">
                            <h5 class="name-membre">{{ message.author.prenom }}</h5>
                            {% if (message.author == activity.leader) %}
                                <p class="title-membre">Organiateur</p>
                            {% else %}
                                <p class="title-membre">Participant</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-1 col-10 content-message">
                            {{ message.content }}
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
