<div class="row activity-details-row">
    <div class="col return-button">
        <a href="{{ path('activity_index') }}"><i class="fa-solid fa-circle-chevron-left"></i></a>
    </div>
</div>

<div class="row justify-content-center activity-desc-row">
    <div class="col-md-4 col-sm-7 col-11 order-last order-md-first text-center mt-3">
        {% if activity.image is not null and activity.sport is defined and activity.sport.id != 0 %}
            <img  src="{{vich_uploader_asset(activity,"imageFile")}}" class="img-fluid rounded activity-img" alt="...">
        {% else %}
            <img src="{{ asset('images/sports/'~activity.sport.imagesLink~'/'~activity.sport.imagesLink~'-'~(random(2)+1)~'.jpg') }}" class="img-fluid activity-img rounded" alt="">
        {% endif %}
    </div>
    <div class="col-md-6 col-sm-10 col-10">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-8">
                <h2>
                    {{ activity.title }}
                    <a href="#" class="btn btn-success btn-sport btn-level btn-sm m-3" role="button" aria-disabled="true">{{ activity.level }}</a>
                </h2>
            </div>
            <div class="col-md-2 col-sm-2 col-1">
                {% set userid = 0 %}

                {# si le user est participant => boutton participe #}
                {% for participant in activity.users %}
                    {% if participant.id == app.user.id %}
                        {% set userid = participant.id %}
                        <a href="#" class="btn btn-success" role="button" aria-disabled="true">Participe</a>
                    {% endif %}
                {% endfor %}

                {# si le user à une demande en attente => bouton demande en cours #}
                {% for participant in activity.requestParticipation %}
                    {% if participant.id == app.user.id %}
                        {% set userid = participant.id %}
                        <a href="#" class="btn btn-warning" role="button" aria-disabled="true">Demande en cours...</a>
                    {% endif %}
                {% endfor %}

                {% if activity.leader and (activity.leader.id != app.user.id) and (userid != app.user.id) %}

                    {# si le user n'est pas participant => boutton rejoindre #}
                    <a href="{{ path('activity_request', {'id': activity.id}) }}" class="btn btn-primary" role="button" aria-disabled="true">Rejoindre</a>

                    {# si le user est le leader => boutton editer l'event #}
                {% elseif activity.leader and activity.leader.id == app.user.id %}
                    <a href="{{ path('activity_edit', {'id': activity.id}) }}" class="btn btn-sm btn-primary" role="button" aria-disabled="true">Modifier</a>

                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>
                    <i class="fa-solid fa-location-dot"></i> {{ activity.lieu }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col activity-details">
                {{ activity.details }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 activity-date"><i class="fa-solid fa-calendar-days"></i> Le {{ activity.date|date('d m Y') }} à {{ activity.date|date('H:i') }}</div>
            <div class="col-md-5 activity-users"><i class="fa-solid fa-user-group"></i> {{ activity.nbUserMin }} / {{ activity.nbUserMax }} participants</div>
            <div class="col-md-2 align-self-end">
                {% if activity.leader and activity.leader.id == app.user.id %}
                    {{ include('activity/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
