
{% extends 'base.html.twig' %}

{% block title %}{{ activity.title }}{% endblock %}

{% block body %}
    {{ include('activity/not-join.html.twig') }}

    {% if (app.user == activity.leader) %}
        {{ include('activity/join.html.twig') }}
    {% endif %}
    {% for participant in activity.users  %}
        {% if (app.user == participant) %}
            {{ include('activity/join.html.twig') }}
        {% endif %}
    {% endfor %}
{% endblock %}