@import '~bootstrap';
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$blue-dark: #061A40;
$blue-white: #15B9F4;
$white-brown: #F7F8F2;
$brown: #7A5C61;

//Style Général
body {
  background-color: $white-brown;
  overflow-x: hidden;
  position: relative;

  .container-fluid {
    margin: 0;
    min-width: 100vw;
  }

  button, a {
    &.btn-primary {
      background-color: $blue-white !important;
      color: $white-brown !important;
      border-color: $blue-white !important;
    }
  }
}

// Style header
.container-header {
  padding: 0;
  margin: 0;
  min-width: 100%;
}

div.container-fluid {
  &.block-page {
    min-height: 90vh;
    padding: 0;

    @media screen and (max-width: $sm) {
      //padding-left: 40px;
    }
  }
}

header {
  padding: 0 5% !important;
  box-shadow: 1px 1px 3px $blue-dark;
  background-color: $white-brown;

  li {
    a {
      color: $blue-dark !important;

      &.active {
        background-color: $blue-white !important;
        color: $blue-dark !important;
      }
    }
  }

  &.user-header {
    background-color: $blue-dark;

    ul {
      li {
        a {
          color: $white-brown !important;
        }
      }
    }
  }

  &.header-mobile {
    //position: relative;
    box-shadow: none;
    padding: 0 !important;
  }

  .btn-header-mobile {
    right: 1%;
    top: 10px;
    position: fixed;
    z-index: 10;
  }

  .menu-details-mobile {
    width: 230px;
    z-index: 100;
    right: 15%;
    top: 10px;
    position: fixed;
  }
}

.header-desktop {
  @media screen and (max-width: $sm) {
    display: none;
  }
  @media screen and (min-width: $sm) {
    display: initial;
  }
}

.header-mobile {
  @media screen and (max-width: $sm) {
    display: initial;
  }
  @media screen and (min-width: $sm) {
    display: none;
  }
}


.logo {
  width: 140px;
}

//Page d'accueil
.text-title {
  padding-left: 100px;
  @media screen and (max-width: 768px) {
    padding-left: 20px;
  }
}

.image-title {
  margin-left: -100px;
  @media screen and (max-width: $lg) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.row-presentation {
  //margin-top: 5%;
  padding-top: 105px;
  width: 100vw;

  .row {
    @media screen and (max-width: 768px) {
      text-align: center;
    }

    button {
      margin: 5px;
    }
  }
}

.button-activity-home {
  margin-bottom: 3%;
  text-align: center;

  a {
    margin-top: 3%;
    background-color: $blue-white;
    border-color: $blue-white;
    color: $white-brown;
  }
}

.events-block {
  padding: 100px 0 0 0;
  //padding-top: 8%;
  .pad-left {
    padding: 5%;
  }

  .filter-row {
    padding: 2%;
  }

  &.filter-page {
    padding-bottom: 24%;

    .propose-event {
      padding-top: 12%;
    }
  }

  .activity-card {
    border-radius: 2%;
    background-color: $white-brown;
    color: $blue-dark;
    margin-bottom: 40px;

    @media screen and (max-width: $sm) {
      //height: 320px;
      margin-right: 14px;
    }


    .card-title-lieu, .card-title-badge {
      padding: 0;
    }

    .leader-row {
      margin-top: 20px;
    }

    .leader-name {
      margin-bottom: 0;
      text-align: end;
      font-size: 12px;
      font-style: italic;
      position: absolute;
      bottom: 2%;
      right: 2%;
    }

    .btn-join {
      background-color: $blue-white;
      border-color: $blue-white;
      color: $white-brown;
    }

    .btn-edit {
      background-color: $blue-dark;
      border-color: $blue-dark;
      color: $white-brown;
    }

    .btn-sport {
      background-color: $brown;
      border-color: $brown;
      font-size: 10px;
      position: absolute;
      right: 2%;

      &.btn-level {
        margin-right: 0 !important;
        top: 30px;
      }

      @media screen and (max-width: $sm) {
        top: 2%;
      }
    }
  }
}

//banner
div.contain-banner-text {
  background-color: $brown;
  width: 100%;
  padding-left: 8px;
  margin: 0;

  div.banner-text {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    color: $white-brown;
    padding: 0.5%;
  }
}

div.events-block {
  background-color: $blue-dark;
  color: $white-brown;

  &.events-profil {
    background-color: transparent;
    padding-top: 0;
    @media screen and (max-width: $sm) {
      padding-top: 0;
    }
  }
}

//Login / sign in + profil page
div.login-page, div.profil-page {
  background-image: url("../../public/images/mountains-bg.png");
  background-position: center;
  background-size: cover;
  padding: 200px 20px 20px 20px;
  min-height: 100vh;
  margin-top: -5%;
  @media screen and (max-width: $sm) {
    padding-top: 50px;
  }

  .login {
    position: relative;
    @media screen and (max-width: $lg) {
      margin-right: 14px;
    }

    &.pad-top {
      @media screen and (max-width: $md) {
        padding-top: 50px;
      }
    }

    .events-row {
      .activity-card-row {
        background-color: $white;
      }
    }
  }

  div.profil-img {
    width: 200px;
    height: 180px;
    margin-bottom: 7%;

    img.img-avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  div.profil-desc {
    text-align: left;
    color: $blue-dark;
  }

  div.profil-name {
    text-align: left;
    padding-left: 5%;
  }

  form, div.div-blur {
    text-align: center;
    padding: 5%;
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.19) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 21px;

    div#edit_profil_genre {
      color: $white-brown;
      text-align: left;
    }

    h1, h2, h3 {
      color: $blue-dark;
    }

    a.link-logout {
      color: red;
      text-decoration: none;
      position: absolute;
      top: 12px;
      right: 12px;
      @media screen and (max-width: $sm) {
        top: 2px;
        left: 14px;
      }
    }

    .white-text {
      color: $white-brown;
    }

    .form-group, .profil-infos {
      text-align: left;
      font-weight: 600;
      color: $blue-dark;
      padding: 1%;

      .user-nb-min, .user-nb-max {
        width: 80px;
      }
    }

    .btn-connexion {
      margin: 5%;
    }

    div#edit_profil_favorite_sport, h5.favorite-sport {
      text-align: left;
    }
  }
}

//Profil
.btn-activity {
  background-color: $brown;
  color: $white-brown;
}

// Activity-cards
.activity-card {
  .desc-card {
    padding: 15px 0;
  }
  .activity-card-row {
    height: 100%;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: $md) {
      max-height: 400px;
    }
    @media screen and (min-width: $sm) and (max-width: $md){
      max-height: 340px;
    }

    &.activity-card-profil {
      background-color: $white;
      height: 300px;
      @media screen and (max-width: $sm) {
        height: 100%
      }

      .col-img-card {
        height: 100%;
        padding: 0;
        @media screen and (max-width: $sm) {
          height: auto;
        }
      }

      .btn-sport {
        margin-right: 0 !important;
        margin-top: 0 !important;
        right: 7px;
        top: 7px;
      }

      .btn-level {
        margin-right: 0 !important;
        top: 38px;
        right: 7px;
      }
    }
  }

  .activity-card-img {
    //width: 200px;
    height: 100%;
    width: 100%;
    object-fit: cover;

    @media screen and (max-width: $sm) {
      height: 200px;
      object-fit: cover;
      width: 100% !important;
    }
  }

  .col-img-card {
    padding: 0;
  }

}


// Page activité
.activity-desc-row {
  @media screen and (max-width: $sm) {
    width: 95vw;
  }

}

.activity-details-row {
  padding-top: 150px;
  @media screen and (max-width: $sm) {
    padding-top: 50px;
  }

  svg {
    @media screen and (max-width: $sm) {
      position: fixed;
      top: 7px;
    }
  }
}

.return-button {
  a {
    padding-left: 3%;

    &:hover {
      svg {
        color: $blue-white;
      }
    }

    svg {
      color: $blue-dark;
      width: 35px;
      height: 35px;
    }
  }
}

.activity-img {
  max-height: 70%;
}

.activity-details {
  padding-top: 5%;
  text-align: justify;
}

.activity-date, .activity-users {
  padding-top: 3%;
}

div.row-participants {
  .avatar-part {
    width: 100px !important;

    img {
      object-fit: cover;
    }
  }
}

// Page activité join
.participant-row {
  margin-bottom: 5rem;
  @media screen and (max-width: $md) {
    margin-left: 15px;
    margin-right: 30px;
    margin-top: 15px;
  }

  a {
    &.accept {
      padding: 0.1rem;
    }

    &.refus {
      padding: 0.1rem 0.2rem;
    }
  }
}

.write-messages {
  @media screen and (max-width: $sm) {
    margin-right: 4px;
  }
}

.one-message {
  //border : 1px solid $blue-dark;
  padding: 1%;
  background: #F7F8F2;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%);
  border-radius: 10px !important;

  a {
    &.participant-leader {
      text-decoration: none;
      color: $blue-dark;
      font-weight: bold;
    }

    &.participant-user {
      text-decoration: none;
      color: $brown;
    }
  }

  button.no-refresh {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 0.2%;
  }

  textarea {
    min-height: 150px;
  }

  img {
    max-height: 51px;
    padding: 0.15rem;
    border: none;
  }

  h5.name-membre {
    margin-bottom: 0;
    color: $blue-dark;
  }

  p.title-membre {
    font-size: small;
    font-style: italic;
    color: $brown;
  }

  div.content-message {
    background-color: white;
    border-radius: 2%;
  }

  &.pad-top-message {
    margin-top: 2%;
  }

  &.pad-bottom-message {
    margin-bottom: 2%;
  }
}

// Formulaire création d'évènement

.form-col {
  padding-top: 2%;

  label {
    color: $white-brown;
  }
}

//Footer

footer {
  background-color: $brown;
  color: $white-brown;
  width: 100%;
  padding-left: 5%;


  @media screen and (max-width: $md) {
    text-align: center;
    padding: 0;
  }

  .pad-bot {
    @media screen and (max-width: $md) {
      padding-bottom: 10px;
    }
  }

  .logo-footer {
    width: 150px;
  }

  .btn-contact {
    background-color: $white-brown;
    color: $brown;

    &:hover {
      color: $blue-dark;
    }
  }

  .media-row {
    padding-left: 5%;
    @media screen and (max-width: $sm) {
      padding-left: 0;
    }

    .media-link {
      color: $white-brown;
      /* text-decoration: underline; */
      font-size: 25px;
      padding: 3%;

      &:hover {
        color: $blue-dark;
      }
    }
  }
}