{% form_theme our_form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}
{% block body %}

<div class="row justify-content-center align-items-center login-page">
    <div class="col-md-8">
        <div class="row">
    {{ form_start(our_form, { 'action': path('app_contact') }) }}
            <div class="row">
    <div class="col-md-6">
        {{ form_row(our_form.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6">
        {{ form_row(our_form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
            </div>
    <div class="col-md-12">
        {{ form_row(our_form.mail, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-12">
        {{ form_row(our_form.message, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-join">Envoyer</button>
    </div>
    {{ form_end(our_form) }}
        </div>
    </div>

</div>
{% endblock %}