<footer>
    {#
    {{ render(controller('App\\Controller\\ContactController::index')) }}#}
    <div class="row align-items-center block-footer">
        <div class="col-md-4 footer-img">
            <img src="{{ asset('images/logo-light.svg') }}" class="logo-footer" alt="">
        </div>
        <div class="col-md-4 media-row pad-bot">
            <a href="https://www.instagram.com/spoco.fr/" class="media-link"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.instagram.com/spoco.fr/" class="media-link"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/spoco.fr/" class="media-link"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/spoco.fr/" class="media-link"><i class="fa-brands fa-youtube"></i></a>
        </div>
        {# <div class="col-md-4">{% include('contact/index.html.twig') %}</div> #}
        <div class="col-md-4 text-center footer-contact pad-bot">
            <a href="{{ path('app_contact') }}" class="btn btn-light btn-contact">
                Nous contacter !
            </a>
        </div>
    </div>
</footer>