  <div class="container-fluid container-header header-desktop">
    <header class="fixed-top d-flex flex-wrap align-items-center justify-content-md-between justify-content-sm-between py-2 {{ app.user ? "user-header" : ""}}">
        {% if app.user %}
            <a href="{{ path('home') }}" class="d-flex align-items-center col-md-3 col-sm-3 mb-2 mb-md-0 mb-sm-0 text-dark text-decoration-none">
                <img src="{{ asset('images/logo-light-v2.svg') }}" class="logo" alt="">
            </a>
        {% else %}
            <a href="{{ path('home') }}" class="d-flex align-items-center col-md-3 col-sm-3 mb-2 mb-md-0 mb-sm-0 text-dark text-decoration-none">
                <img src="{{ asset('images/logo.svg') }}" class="logo" alt="">
            </a>
        {% endif %}
        <ul class="nav nav-pills nav col-12 col-md-auto col-sm-auto mb-2 justify-content-end mb-md-0 mb-sm-0">
{#            <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>#}
            {% if app.user %}
                <li class="nav-item"><a href="{{ path('activity_new') }}" class="nav-link">Créer un évènement</a></li>
                <li class="nav-item"><a href="{{path('app_profil', {id: app.user.id})}}" class="nav-link active">Mon compte</a></li>
            {% else %}
{#                <li class="nav-item"><a href="#" class="nav-link">Notre concept</a></li>#}
                <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Se connecter</a></li>
                <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link active" aria-current="page">S'inscrire</a></li>
            {% endif %}
        </ul>
    </header>
</div>
<header class="header-mobile">
        <button class="btn btn-primary btn-header-mobile" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body menu-details-mobile">
                <ul class="nav nav-pills nav col-12 col-md-auto mb-2 justify-content-end mb-md-0">
                    <a href="{{ path('home') }}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <img src="{{ asset('images/logo.svg') }}" class="logo" alt="">
                    </a>
                    {% if app.user %}
                    <li class="nav-item"><a href="{{ path('activity_new') }}" class="nav-link">Créer un évènement</a></li><br>
                        <li class="nav-item"><a href="{{path('app_profil', {id: app.user.id})}}" class="nav-link active">Mon compte</a></li><br>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Se connecter</a></li><br>
                        <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link" aria-current="page">S'inscrire</a></li><br>
                    {% endif %}
                </ul>
            </div>
        </div>
</header>